version: "3.8"

services:
  sonarqube:
    image: sonarqube:lts-community
    container_name: tools-sonar
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonar_data:/opt/sonarqube/data

volumes:
  sonar_data:
